.background{
  background-image: url(../img/создание сайтов.jpg);
}
.block-el{
    display: inline;
    width: 100px;
    height: 100px;
    background: rgb(255, 127, 127);
}
.inline-block-el{
    width: 300px;
    height: 100px;
    background: rgb(164, 255, 164);
}
.inline-el{
    background: rgb(160, 160, 243);
}
img{
    width: 100px;
    height: 100px;
}

header, main, aside, footer{
    background: darkgrey;
    border-radius: 20px;
    border: 2px solid white;
    height: 200px;
}
.txt-em{
  font-size: 5em;
}

.txt-rem{
  font-size: 4rem;
}

.txt-percent{
  font-size: 50%;
}

.txt-vw{
  font-size: 10vw;
}

.txt-vh{
  font-size: 5vh;
}

.txt-vmin{
  font-size: 15vmin;
}

.txt-vmax{
  font-size: 40vmax;
}

.block-el{
  display: block;
}

.inline-block-el{
  display: inline-block;
}

.inline-el{
  display: inline;
}

.none-el{
  display: none;
}

.list-el{
  display:list-item;
}

.flex-area{
  display: table;
  display: flex;
  justify-content: center;
}

.grid-system{
  display: grid;
 grid-template-columns: repeat(8, 1fr);
 grid-gap: 10px;
 grid-auto-rows: 100px;
 grid-template-areas:
   "a a a a b b b b"
   "a a a a b b b b"
   "c c c c d d d d"
   "c c c c d d d d";
 align-items: start;
}

.float>img{
  display: flex;
  justify-content: flex-start;
}

.float{
  padding: solid 8px #a84832;
  border-style: double;
  outline: solid 6px #888;
  margin: solid 10px #a83232;
}
.p{
  margin-bottom: 20px;
}
